html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body,
html {
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;    
}


/*=============first PSD=============*/
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
/*-------------header-------------*/
.header {
    background: #000 url('../img/sloy_81.png') 50% 0 repeat;
}
.interior {    
    margin: 0 auto;
    padding: 0 128px;
    max-width: 1280px;      
}
.log-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-top: 27px;
    padding-bottom: 30px;
}
.login-search {
    margin-bottom: 42px;
}
.logo {
    display: inline-block;
    width: 209px;
    height: 142px;
    background: url(../img/sloy_56.png) 0 no-repeat;
}
.login-reg {
    padding: 0 31px 10px 31px;
    display: flex;
    align-items: center;
}
.login-reg > a {
    text-decoration: none;
    background: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f0cf67;
    position: relative;
    font-family: 'open_sansregular';
    font-size: 16px;
}
.login-reg > a::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed #ecbc35;
    top: 100%;
    right: 0;
}
.delimiter {
    height: 15px;
    width: 2px;
    background: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    margin: 0 5px;    
}
.search {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    outline: none; 
    padding: 6px 30px 6px 11px;
    color: white;   
}
.form-search {
    position: relative;
    display: inline-block;
}
.form-search > button {
    position: absolute;
    cursor: pointer;
    top: 8%;
    right: 2px;
    width: 25px;
    height: 25px;
    background: url('../img/sloy_12.png') 4px no-repeat;
    border: none;
    padding: 0;
}
.search::-webkit-input-placeholder {
    color: white
}
.search::-moz-placeholder {
    color: white 
}
.search::-ms-input-placeholder {
    color: white
}
.header-contacts {
    margin-bottom: 48px;
    text-align: center;
}
.phone-number {
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;
    margin-bottom: 5px;
    font-family: 'open_sansregular';
    font-size: 16px;
}
.operator {
    color: white;
    font-size: 20px;
}
.number {
    color: white;
    font-size: 25px; 
    margin-right: 5px;              
}
.drop-arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(255,255,255,0.25);
    background-color: rgba(255,255,255,0.1);
    position: relative;
}
.drop-arrow::before {
    content:'';
    position: absolute;
    top: 25%;
    left: 30%;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(45deg);
}
.back-call {
    display: inline-block;
    text-decoration: none;    
    font-size: 18px;
    background: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f0cf67; 
    position: relative; 
    font-family: 'open_sansregular';
    font-size: 16px;           
}
.back-call::after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed #ecbc35;
}
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 127px;
    border-top: 1px solid rgba(255,255,255,0.25);
}
.menu a {
    line-height: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    font-family: 'open_sansregular';
    font-size: 14px;
}
.menu span {
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 50%;
}
.menu a:hover {    
    background: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f0cf67;
}
.menu a:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    left: 0;
    border-top: 1px solid #ecbc35;
    width: 100%;
}
/*-------------slider-------------*/
.slider {
    height: 524px;
    background: #ffffff url('../img/figure_13.png') 50% 0 repeat;
}
.slider-box {    
    margin: 0 auto;   
    max-width: 1280px;
    height: 100%;
    position: relative;        
}
.title {
    display: inline-flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
    align-items: center;
    position: relative;
    z-index: 1;
}
.title > a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 39px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    border: 2px solid #c19324;
    background-color: #eec652;
    background-image: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    padding: 0 32px;
    color: #000; 
    font-family: 'open_sanssemibold';   
}
.slide-title_1 {
    color: white;
    font-size: 38px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    text-transform: uppercase;
    font-family: 'open_sansregular';
}
.slide-title_2 {
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'open_sansbold';
}
.slide-img {
    position: absolute;
    bottom: 0;
    right: 120px;
}
.btn-prev,
.btn-next {
    width: 42px;
    height: 43px;
    background-color: rgba(0,0,0,0.25);
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: background-color 0.2s;
    cursor: pointer;
}
.btn-prev:hover,
.btn-next:hover {
    background-color: #060606;
}
.btn-prev {
    left: 128px;
}
.btn-next {
    right: 128px;
}
.btn-prev::before,
.btn-next::before {
    content:'';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid rgba(255,255,255,0.25);
    border-bottom: 1px solid rgba(255,255,255,0.25);
    transition: border-color 0.2s;
}
.btn-prev:hover::before,
.btn-next:hover::before {
    border-color: white;
}
.btn-prev::before {
    transform: rotate(45deg) translate(25%, -10%);
}
.btn-next::before {
    transform: rotate(225deg) translate(15%, -20%);
}
/*-------------main-------------*/
.main {
    flex-grow: 1;
}
.offers {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    max-width: 1024px;
    margin: 0 auto;
}
.offer-item {
    width: 314px;
    padding: 1px 3px 6px 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45); 
    position: relative;     
}
.offer-img {
    display: block;
    width: 100%;
}
.offer-block {
    position: absolute;
    top: 33%;
    left: 7px;
    right: 7px;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.offer-block > a {
    display: inline-block;
    text-decoration: none;
    font-family: 'open_sansregular';
    font-size: 16px;
    background: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f0cf67;
    margin-bottom: 20px;
    position: relative;
}
.offer-block > a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed #ecbc35;
}
.offer-p {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-family: 'open_sansregular';
    font-size: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    padding: 18px 0 6px 0;
    margin-bottom: 15px; 
}
.hot-offers {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.hot-offers > p {
    text-transform: uppercase;
    font-family: 'open_sansbold';
    font-size: 26px;
    color: black;
    margin-top: 41px;
    margin-bottom: 1px; 
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.hot-offers_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 1024px;
    margin: 0 auto;
}
.hot-offers_block {
    position: relative;
}
.price-block_wrapper {  
    display: none;
    background-color: rgba(000,000,000,0.7);
    position: absolute;
    top: -11px;
    bottom: -11px;
    left: -11px;
    right: -11px;
}
.hot-offers_block:hover > .price-block_wrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.hot-offers_block:hover > .img-checkbox_wrapper {
    border: none;
}
.hot-offers_block:hover > .img-checkbox_wrapper > .checkbox {
    display: none;
}
.price-block {
    z-index: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.price {
    display: block;
    color: white;
    padding: 20px 0;    
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
    font-family: 'open_sanssemibold';
    margin-bottom: 40px;
}
.price-block > a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 39px;
    box-shadow: 0 0 5px rgb(0 0 0 / 45%);
    border: 2px solid #c19324;
    background-color: #eec652;
    background-image: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    padding: 0 32px;
    color: #000;
    font-family: 'open_sanssemibold';
}
.img-checkbox_wrapper {
    position: relative;
    padding: 7px;   
    border: 1px solid #e5e5e5;
    margin-bottom: 21px;
}
.checkbox {
    position: absolute;
    top: 5px;
    left: 0;
}
.checkbox-top {
    width: 86px;
    border-top: 13px solid rgb(229, 85, 85);
    border-right: 10px solid transparent;
    border-bottom: 13px solid transparent;
    position: absolute;
    top: 17px;
    left: -5px;
}
.checkbox-bottom {
    width: 86px;
    border-top: 13px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid red;
    position: absolute;
    top: 16px;
    left: -5px;
}
.advantage {
    position: absolute;
    top: 23px;
    left: 12px;
    font-size: 11px;
    font-family: 'open_sanssemibold';
}
.corner {
    position: absolute;
    top: 42px;
    left: -5px;
    border-top: 2.7px solid #7f0001;
    border-left: 3px solid transparent;
    border-right: 2.7px solid #7f0001;
    border-bottom: 3px solid transparent;
}
.specification {
    height: 34px;
    font-family: 'open_sanssemibold';
    font-size: 14px;
    color: #060606;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new-items {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.new-items > p {
    text-transform: uppercase;
    font-family: 'open_sansbold';
    font-size: 26px;
    color: black;
    margin-top: 41px;
    margin-bottom: 1px; 
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.new-items_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 1024px;
    margin: 0 auto;
}
.new-items_block {
    position: relative;
}
.price-block_wrapper {  
    display: none;
    background-color: rgba(000,000,000,0.7);
    position: absolute;
    top: -11px;
    bottom: -11px;
    left: -11px;
    right: -11px;
}
.new-items_block:hover > .price-block_wrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.new-items_block:hover > .img-checkbox_wrapper {
    border: none;
}
.new-items_block:hover > .img-checkbox_wrapper > .checkbox {
    display: none;
}
.price-block {
    z-index: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.price {
    display: block;
    color: white;
    padding: 20px 0;    
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
    font-family: 'open_sanssemibold';
    margin-bottom: 40px;
}
.price-block > a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 39px;
    box-shadow: 0 0 5px rgb(0 0 0 / 45%);
    border: 2px solid #c19324;
    background-color: #eec652;
    background-image: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    padding: 0 32px;
    color: #000;
    font-family: 'open_sanssemibold';
}
.img-checkbox_wrapper {
    position: relative;
    padding: 7px;   
    border: 1px solid #e5e5e5;
    margin-bottom: 21px;
}
.checkbox {
    position: absolute;
    top: 5px;
    left: 0;
}
.checkbox-top_other {
    width: 86px;
    border-top: 13px solid #eec652;
    border-right: 10px solid transparent;
    border-bottom: 13px solid transparent;
    position: absolute;
    top: 17px;
    left: -5px;
}
.checkbox-bottom_other {
    width: 86px;
    border-top: 13px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #c19324;
    position: absolute;
    top: 16px;
    left: -5px;
}
.new-item {
    position: absolute;
    top: 23px;
    left: 12px;
    font-size: 11px;
    font-family: 'open_sanssemibold';
}
.corner_other {
    position: absolute;
    top: 42px;
    left: -5px;
    border-top: 2.7px solid #a7831c;
    border-left: 3px solid transparent;
    border-right: 2.7px solid #a7831c;
    border-bottom: 3px solid transparent;
}
.about-company {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.about-company > p {
    text-transform: uppercase;
    font-family: 'open_sansbold';
    font-size: 26px;
    color: black;
    margin-top: 41px;
    margin-bottom: 1px; 
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.description {
    padding: 30px 0;
    max-width: 1024px;
    margin: 0 auto;
}
.description-img {
    float: left;
    margin-right: 19px;
}
.desc-1,
.desc-2,
.desc-3,
.desc-4 {
    font-size: 14px;
    font-family: 'open_sansregular';
    line-height: 1.5;
}
.desc-1,
.desc-2,
.desc-3 {
    padding-bottom: 30px;
}
.desc-4 {
    padding-bottom: 80px;
}
.chat {
    text-align: right;
}
.chat a {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    border: 2px solid #c19324;
    background-color: #eec652;
    background-image: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    font-size: 16px;
    font-family: 'open_sanssemibold';
    text-decoration: none;
    color: #000;
    padding: 8px 17px 8px 49px;
    position: relative;
    margin-bottom: 20px;
}
.chat a::before {
    content: "";
    width: 16px;
    height: 17px;
    background: url(../img/speech_bubbles.png) 0 no-repeat;
    position: absolute;
    top: 13px;
    left: 17px;
}
/*-------------footer-------------*/
.footer {
    background: #000 url('../img/sloy_81.png') 50% 0 repeat;
}
.interior-bottom {
    margin: 0 auto;
    padding: 0 128px;
    max-width: 1280px;
}
.menu_bottom {
    width: 100%;
    padding: 0 127px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list > li > a {
    line-height: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    font-family: 'open_sansregular';
    font-size: 14px;
}
.list > li:hover > a {    
    background: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f0cf67;
}
.list > li:hover a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    border-bottom: 1px solid #ecbc35;
    width: 100%;
}
.list > span {
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 50%;
}
.bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contacts-block {
    display: inline-flex;
}
.numbers-left > span {
    display: block;
    color: white;
}
.numbers-right > span {
    display: block;
    color: white;
}
.numbers-left,
.numbers-right {
    padding: 0 20px;
    border-right: 1px solid #f0bf34;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-family:'open_sansregular';
}
.contacts-block > div:last-child {
    border-right: none;
}
.counter-block {
    display: block;
}
.counter-block > .counter-top {
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
}
.© {
    color: white;
    font-size: 16px;
    font-family: 'open_sansregular';
}
.counter-img {
    width: 31px;
    height: 32px;
    background: url(../img/counter.png) 0 no-repeat;
    margin: 0 0 0 13px;
}
.development {
    color: #f0cf67;
    font-size: 16px;
    font-family: 'open_sansregular';
}
.webstroy {
    color: white;
    font-size: 16px;
    font-family: 'open_sansregular';
}        
